# Binaries for programs and plugins
bin/

# Test binary
*.test

# Output of the go coverage tool
*.out
*.html


# IDE specific files
.idea/
.vscode/
.claude/
*.swp
*.swo
local/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env

# Top-level application
/mcp-ripestat
