# Binaries for programs and plugins
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.html


# IDE specific files and local development environment
.idea/
.vscode/
*.swp
*.swo
local/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env

# Top-level binary
/mcp-ripestat
